*{
    margin:0px;
    padding:0px;
}
#container a{
    text-decoration: none;
}
#container{
    width: 100%;
}
header{
    width:100%;
    height:160px;
}
nav{
    width:100%;
    height:50px;
    border: solid 1px #9d9d9d;
    border-right: none;
    border-left: none;
    line-height: 50px;
}
hr{
    background-color: #000000;
}
.giuatrang{
    height: auto;
    margin-left:80px ;
    width: 94%;
    padding-bottom: 100px;
}
.block{
    color: rgb(255, 255, 255);
    width: 260px;
    height: auto;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 150px;
    margin-right:50px;
    margin-left: 30px;
}

.hinhsp{
    position: relative;
    width: 265px;
    height: auto;

}
.h1{
    width: 100%;
    border-radius:10px ;
    border: solid 1px #c7c4c4;
    transition: opacity 0 ease-in-out;
    position: absolute;
    z-index: 1;
    transition-duration: 500ms;
}
.h2{
    width: 100%;
    border-radius:10px ;
    border: solid 1px #c7c4c4;
    transition: opacity 0 ease-in-out;
    position: absolute;
    z-index: 0;
    transition-duration: 500ms;
    top:-50px;
    opacity: 0;
    visibility: hidden;
}
.h1:hover {
    opacity: 0;
    transition-delay: 0.1s;
    transform: translate(0, -50px);
  
}

.h1:hover ~ .h2 {
    opacity: 1;
    visibility:visible;
    display: block;
    transition-delay: 0.1s;
    transform: translate(0, 50px);
}

.chuyentrang a{
    text-decoration: none;
}
.tensp{
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-top: 290px;
}
.tensp p{
    font-size: 18px;
    text-align:center;
    color: #000000;
}
.tensp span{
    
    font-size: 16px;
    color: red;
}
.hang{
    margin-bottom: 150px;
}
.chuyentrang{
    text-align: center;
}
.chuyentrang p{
    font-size: 25px;
    color: #6b3503;
}
.chuyentrang p:hover{
    color: #ff7c02;

}
footer{
    width: 100%;
    background-color:rgb(58, 58, 58);
    clear: both;
    list-style-type: none;
    color: white;
}
footer i{
    margin-top: 20px;
    margin-bottom: 20px;
}
footer h3{
    padding-top: 40px;
}
.ft{
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 30px;
}


.footer2{
    height:40px;
    background-color:#242424;
    line-height: 40px;
}
.footer2 p{
    margin-left:135px ;
    color: rgb(202, 201, 201);
    font-size: 12px;
}
.ft input[type=submit]{
    padding: 10px;
    background-color: #606060;
    color: white;
    border: none;
}
.ft input[type=submit]:hover{
    background-color: #9d9d9d;
    
}
.ft input[type=email]{
    background-color:rgb(58, 58, 58);
    border: none;
    height: 25px;
    outline: none;
    width: 150px;
}
.ft button{
    background-color:rgb(58, 58, 58);
    border-radius:30% ;
    border: none;
    height: 25px;
    width: 25px;
    outline: none;
    bottom:100%;
}
.ft hr{
    width: 175px;
    
}
.ft a{
    color: rgb(200, 200, 200);
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}
.ft a:hover{
    color: rgb(255, 255, 255);
}
.aa{
    text-align: left;
}
#left{
    text-align: left;
}


#giohang{
    border: solid 0.1px #c7c4c4 ;
    padding: 5px;
    border-radius: 30%;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 65px;
    margin-right: 65px;

}
#giohang:hover{
    border: solid 0.2px #ff7c02;
}
#giohang i{
    margin-top: 5px;
    color: #ff7c02;
}
#logo{
    float:left;
    margin-left: 85px;

}
#ttll{
    float: right;
    border: solid 1px rgb(161, 159, 159);
    border-radius: 5px;
    right:200px;
    margin-right: 10px;
    margin-top: 30px;
    padding :10px;

}
#ttll b{
    color: #ff7c02;
}
#MENU{
    float:left;
    margin-left: 135px;
    
}
#MENU ul{
    margin-right: 10px;
    display: inline;
}
#p1{
    position: absolute;
    top:10px;
    left:45px;
}
a{
    color:#000000;
    text-decoration: none;
}
a:hover {color:#ff7c02;}

.search {
    display: flex;
    float:right;
    margin-right: 135px;
    height: 40px;
    }

.searchTerm {
    width: 250px;
    border: none;
    background-color: #ebeaea;
    padding: 5px;
    height: 20px
    color: #433301;
    margin-top: 7px;
    }
.search input[type=text]{
    outline: none;
}

.searchButton {
    width: 50px;
    height: 35,99px;
    background: #ff7c02;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    margin-top: 7px;
    border: none;
    line-height: 35.99px;
    }
.searchButton:hover{
    background-color: #d36905;
}
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

#xemngay{
    font-size: 70%;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding:5px;
    color:rgb(255, 255, 255);
    background-color: #ff7c02;
    height: 30px;
    line-height: 25px;
    
}
#xemngay:hover{
    background-color: #c66306;
}
#hinh1{
    width:100%;
    display: block;
    z-index: 0;
}
.ul1{
    font-size: 400%;
    display:flex;
    font-weight: 1000;
    color:#ff7c02;
    transition:2s;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0em 0.03em 0.05em #433301
    
}
.hinhlon{
    position: relative;
    margin: auto;
}


.ul1 ul:hover li{
    transform: translateY(-15px) 
    
}

/*He thong dang nhap*/

#dangnhap span:hover{
    color: #ff7c02;
}

/*He Thong GIoi thieu*/
.gioithieu {
    margin-left: 135px;
}
.gioithieu li{
    padding: 5px;
}
/*San pham*/
.sp-body{
    margin-left: 135px;
    margin-right: 135px;
    margin-top: 35px;
}
.sp-body-menu{
    width: 18%;
    height: auto;
    float: left;
    background-color: rgb(255, 255, 255);
}
.sp-body-sanpham{
    width: 82%;
    height: auto;
    float: left;
    background-color: #ffffff;
}
.sp-body h3{
    padding-bottom: 10px;
    color: #4f4e4e;
}
.sp-body-menu hr{ 
    width: 50px; 
    border-bottom: solid 1px;
}
.sp-body-menu li{ 
    list-style-type: none;
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: solid 1px #c7c4c4;
    font-size: 14px;
    
}
.sp-body-menu a{
    margin-left: 20px;
    color: #4f4e4e;
}
.sp-body-menu a:hover{
    color: #ff7c02;
}

.sp-block{
    color: rgb(255, 255, 255);
    width: 230px;
    height: auto;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 17px;
}

.sp-hinhsp{
    position: relative;
    width: 230px;
    height: auto;

}
.sp-h1{
    width: 100%;
    border-radius:10px ;
    border: solid 1px #c7c4c4;
    transition: opacity 0 ease-in-out;
    position: absolute;
    z-index: 1;
    transition-duration: 500ms;
}
.sp-h2{
    width: 100%;
    border-radius:10px ;
    border: solid 1px #c7c4c4;
    transition: opacity 0 ease-in-out;
    position: absolute;
    z-index: 0;
    transition-duration: 500ms;
    top:-50px;
    opacity: 0;

}
.sp-h1:hover {
    opacity: 0;
    transition-delay: 0.1s;
    transform: translate(0, -50px);
  
}

.sp-h1:hover ~ .sp-h2 {
    opacity: 1;
    display: block;
    transition-delay: 0.1s;
    transform: translate(0, 50px);
}


.sp-tensp{
    position: absolute;
    z-index: 3;
    text-align: center;
    margin-top: 240px;
}
.sp-tensp p{
    font-size: 18px;
    text-align:center;
    color: #000000;
}
.sp-tensp span{
    
    font-size: 16px;
    color: red;
}
.sp-hang{
    margin-bottom: 150px;
}
#form-button:hover{
    background-color: #5a5858;
}
